{% extends 'base.html.twig' %}

{% block body %}
<form action="#">
  <div class="form-group">
    <label for="title">Título:</label>
    <input type="text" class="form-control" id="title">
  </div>
  <div class="form-group">
    <label for="txt">Texto:</label>
    <input type="text" class="form-control" id="txt">
  </div>
  <button type="submit" class="btn btn-default">Guardar</button>
</form> 
{% endblock %}
