{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Daily Trends</h1>
    <form action="#">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title">
      </div>
      <div class="form-group">
        <label for="txt">Text:</label>
        <input type="text" class="form-control" id="txt">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form> 
</div>
{% endblock %}
