{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Daily Trends</h1>
    {% block paisNotices %}
    {% endblock %}
    {% block mundoNotices %}
    {% endblock %}
    {% for notice in notices %}
        <h2 class="blog-post-title">{{notice.title }}</h2>
        <p>{{notice.text}}</p>
    {%endfor%}
    <a href="{{ 
       path( 
          'notice'
       ) 
      }}">

       <button class="btn btn-success">New Notice</button>
   </a>
</div>
{% endblock %}
